.infoImg {
  width: 145px;
  transition: 0.3s;
}

.infoImg:hover {
  transform: scale(1.1);
}

.image {
  height: 650px;
}

@media (min-width: 768px) {
  .image {
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .image {
    height: 650px;
  }
}

@media (min-width: 1280px) {
  .image {
    height: 830px;
  }
}

@media (min-width: 1536px) {
  .image {
    height: 950px;
  }
}

